<section>
  <aside>What is it about?</aside>
  <article>Neat is an open source semantic grid framework built on top of Sass and Bourbon…</article>
</section>

    <!-- MAIN BOARD -->

   <div class="text-links-title-all">
           <span class="text-links-page-title">
            ALL YOUR LINKS ARE BELONG TO US
          </span>

<table>
  <% @links.each do |link| %>
    <tr>
      <td>
        <hr color="#94C7B6", noshade>
        USER: <span class="text-links-user"><%= link.user.name.capitalize %></span>
      </td>
    </tr>
    <tr>
      <td>
        TITLE: <span class="text-links-title"><%= link.title %></span>
      </td>
    </tr>
    <tr>
      <td>
        POST: <span class="text-links-body">
        <%= link.body %><br><br></td>
    </tr>
  <tbody>
    <% end %>
  </tbody>
</table>

<br>
  </div>

<!-- MAIN BOARD-->

<!-- USER PANEL -->


    <div class="user-window-outer">

          <div class="user-window-inner">
            <span class="text-user-title">USER LOGIN HERE</span>
            <br>
             <span class="text-user-window">Text</span>
          </div>

        <!-- USER NAV -->

          <div class="user-action-casing">
            <div class="text-form-title">
              POST A LINK HERE
              <%= render "links/form_link" %>
            </div>
          </div>

          <div class="user-action-casing">
            <div class="text-form-title">
              POST TEXT HERE
              <%= render "links/form_link" %>
            </div>
          </div>


            <span class="text-form-title">
             <br>GET AN ACCOUNT </span>

              <div class="text-form">
              <%= render "users/form" %>
            </div>

        </div>
        <!-- USER NAV -->
    <!-- </div> -->
  <!-- END USER PANEL -->
